<!--
  Generated template for the Wallets page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Carteras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>Mis carteras</ion-list-header>
    <ion-item *ngFor="let wallet of wallets">
      <ion-avatar item-left>
        <img src="assets/imgs/wallet.png">
      </ion-avatar>
      <h2>{{wallet.name}}</h2>
      <h3>{{wallet.amount}}</h3>
      <p>
        <button ion-button clear>Seleccionar</button>
        <button ion-button color="danger">Eliminar</button>
      </p>
    </ion-item>


  </ion-list>

</ion-content>
